VITE_SUPABASE_URL=https://pftmuabmzlkowbxlzffp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmdG11YWJtemxrb3dieGx6ZmZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNDUyMzksImV4cCI6MjA5NjgyMTIzOX0.Kp_gr0dXdE6MUe_NsSQJ9yo1uAONXsMgwHeiv7xOmn8
